@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;700;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Fuentes personalizadas */
  --font-albert: 'Albert Sans', 'Albert Sans Fallback', sans-serif;

  /* Colores personalizados */
  --dark-blue: #001C36;
  --darkest-blue: #053D6A;
  --darker-blue: #34689F;
  --medium-blue: #638CB4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-albert);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --dark-blue: #001C36;
    --darkest-blue: #053D6A;
    --darker-blue: #34689F;
    --medium-blue: #638CB4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  @apply font-sans;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-darkest-blue {
  color: var(--darkest-blue);
}

.text-darker-blue {
  color: var(--darker-blue);
}

.text-medium-blue {
  color: var(--medium-blue);
}



/* Utilidades para Albert Sans */
.font-albert-medium {
  font-family: var(--font-albert);
  font-weight: 500;
}

.font-albert-black {
  font-family: var(--font-albert);
  font-weight: 900;
}